<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'includes/dependencies.html' %}
        
        <title>What's The Move | Welcome!</title>
        <script src="/js/main.js"></script>
    </head>
    <body>
        <button id="g-login-btn" class="btn waves-effect waves-light red" type="button" name="action">
            Signin With Google
        </button>
        <br/>
        <br/>
        <button id="fb-login-btn" class="btn waves-effect waves-light blue" type="button" name="action">
            Signin With Facebook
        </button>
        <br/>
        <br/>
        <button id="signout-btn" class="btn waves-effect waves-light" type="button" name="action">
            Signout
        </button>
    </body>
</html>